.hero {
    margin-top: -70px;
    position: relative;

    &-inner {
        display: flex;
        position: relative;
        z-index: 2;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        width: 100%;
        min-height: 100vh;
        padding: 70px 0 70px;
    }

    &-bg {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-image: url('../images/Justantvish3.JPG');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        &:after {
            content: '';
            position: absolute;
            inset: 0;
            background-color: rgba(0,0,0,.9);
        }
    }

    &-slogan {
        font: bold 64px $f-family-alt;
        margin: 0 0 120px;

        & > span {
            transition: opacity 3s;
            opacity: 0;
        }

        &.initiated {

            & > span {
                opacity: 1;
            }
        }

        // background-image: url(../images/isr-1.jpg);
        // background-repeat: no-repeat;
        // background-position: 50% 40%;
        // background-size: cover;
        // -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent; 
        // -moz-background-clip: text;
        // -moz-text-fill-color: transparent;
        // -webkit-font-smoothing: antialiased;
    }

    // &-img {
    //     width: 40%;
    //     position: absolute;
    //     right: 0;
    //     top: 120px;

    //     &:after {
    //         content: '';
    //         inset: 0;
    //         position: absolute;
    //         background-color: rgba(0,0,0,.5);
    //     }

    //     // img {
    //     //     // filter: invert(1);
    //     // }
    // }

    &-text {
        font-size: 24px;
        padding-right: 40px;
        transition: opacity 1.5s, transform .5s;
        opacity: 0;
        transform: translateY(30px);

        &.initiated {
            opacity: 1;
            transform: translateY(0);
        }
    }

    &-greet {
        margin-bottom: 16px;
        font-size: 32px;
        font-weight: bold;
        color: $gray-blue;
    }
}

