// Grid columns system
$col-sizes:
    1 2,
    1 3,
    1 4,
;

@each $numerator, $denominator in $col-sizes {
    [data-col_#{$numerator}-#{$denominator}] {
        max-width: calc((#{$numerator} / #{$denominator}) * 100%);
    }
}

@each $numerator, $denominator in $col-sizes {
    .col--mob-#{$numerator}-#{$denominator} {

        @media(max-width: 768px) {
            max-width: calc((#{$numerator} / #{$denominator}) * 100%);
        }
    }
}

[class^="col"] {
    width: 100%;
    padding: 0 15px;
}

.col-fullw {
    max-width: 100%;
}

.col--mob-fullw {

    @media(max-width: 1023px) {
        max-width: 100%;
    }
}

.container {
    padding: 0 15px;
    width: 100%;
    max-width: 1480px;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -15px;
}
