html {
    scroll-behavior: smooth;

    ::-webkit-scrollbar {
        width: 12px;
    }
    ::-webkit-scrollbar-track {
        background-color: rgba($bg-color-alt, .7);
        border-radius: 8px;
    }
    
    ::-webkit-scrollbar-thumb {
        background: rgba($navy, .8);
        border-radius: 8px;
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background: rgba($navy, 1);
    }
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-left: 60px;
}

.main {
    height: 100%;

    &_outer {
        position: relative;
        width: 100%;
        flex-grow: 1;
    }
}

.section {
    padding-top: 70px;
}