html {
    scroll-behavior: smooth;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    width: 100%;
    flex-grow: 1;
}

.header {
    width: 100%;
    flex-shrink: 1;
    position: sticky;
    z-index: 3;
    top: 0;
    background-color: rgba(8, 20, 31, 0.3);
    backdrop-filter: blur(10px);

    &-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 70px;
    }
}

.footer {
    flex-shrink: 1;
}