*,
*:before,
*:after {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    transition: color .3s;
    text-decoration: none;
    color: $gray-blue;

    &:hover {
        color: darken($gray-blue, 15%);
    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

p {
    margin: 0 0 16px;
}

// Editable
body {
    margin: 0;
    width: 100%;
    height: 100%;
    font: 400 18px $f-family-base;
    background-color: $bg-color-main;
    color: $white;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $f-family-alt;
}