@import './fonts';
@import './variables';
@import './helpers';
@import './presets';
@import './grid';
@import './layout';

.parent {
    width: 400px;
    position: relative;

    &-el {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 30px);

        &--1 {
            position: absolute;
            inset: 0;
        }
    }
}

.child {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}